@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    @media screen and (max-width: 500px) {
        font-size: x-large;
    }
}

.container {
    background-color: #fff;
    /* background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff); */
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    /* overflow: hidden; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 900px) {
        width: 80vw;
    }

    @media screen and (max-height: 520px) {
        min-height: 0;
        height: 90vh;
    }
}

.container button {
    background-color: #a82d2d;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.contract-form {
    border: 2px solid black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
    border-radius: 50px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 100%;
    z-index: 2;

    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

.container input {
    background-color: #eee;
    border: none;
    margin: 2px 0;
    padding: 20px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Hide spinner buttons on number inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Optional - if you want to remove the space left by the buttons */
}

.top-bar {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigator {
    font-size: large;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    a {
        font-size: medium;
    }

}

table {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

.contract-manager {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: rgb(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 8px;
}

.pend-cont-but {
    cursor: default !important;
    position: relative;
    right: 0;
}

.loader-hidden {
    background-color: white;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 100;
}

.loader-visible {
    background-color: white;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.contract-window {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 50%;
        height: 100%;
    }
}

.contract-create-title {
    font-size: 30px;
    padding: 20px;
}

.pendcon {
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
    flex-direction: column;
    justify-content: space-around;
    background-color: #a82d2d;
    overflow: hidden;

    h2 {
        color: white;
        padding: 20px;
    }
}

.nav-selected {
    background-color: #a82d2d;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.nav-selected:hover {
    cursor: default;
}

.navigator-items {
    cursor: pointer;
}

.navigator-items:hover {
    color: #a82d2d;
}

.contract-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contract-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 0 15px 0 15px;
    overflow: scroll;
    text-wrap: nowrap;
}

.contract-details-r {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 0 15px 0 15px;
    overflow: scroll;
    text-wrap: nowrap;
}

.contract-address {
    background-color: #6e90ff;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.contract-price {
    background-color: #d4b68a;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.contract-area {
    background-color: #989898;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.contract-ipfs {
    background-color: #ff00bb;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.contract-v {
    background-color: #15c538;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: default;
}

.contract-nv {
    background-color: #ff0000;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: default;
}

.contract-details-cover {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accept-button {
    background-color: #ff0000;
    border: 2px solid black;
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    padding: 5px 15px 5px 15px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    text-wrap: nowrap;
}

@keyframes blinking {
    50% {
        border-color: #ffcd5f;
    }
}