@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.home-svg-loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: xx-large;

    @media only screen and (max-width: 992px) {
        display: none;
    }
}

.home-page-container-disabled-message {
    align-items: center;
    justify-content: center;
    font-size: large;

    @media only screen and (min-width: 993px) {
        display: none;
    }
}

.home-page-title {
    font-weight: bold;
    text-align: center;
}

.error-button {
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.home-page-button-user {
    background-color: #5daeff;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.home-page-button-admin {
    background-color: #a82d2d;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}